<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjs.cronus.mappers.CompanyMediaQueueMapper">

    <sql id="Base_Column_List">
      `id`,
      `created`,
      `createid`,
      `updated`,
      `updateid`,
      `deleted`,
      `deleteid`,
      `status`,
      `companyid`,
      `mediaid`
    </sql>

    <select id="findByCompanyId" resultType="com.fjs.cronus.entity.CompanyMediaQueue">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `company_media_queue` WHERE `companyid`=#{companyid} AND `status`=#{status}

    </select>

    <insert id="addBatchCompanyMediaQueue">
        INSERT INTO `company_media_queue`(
        `created`,
        `createid`,
        `updated`,
        `companyid`,
        `mediaid`
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            <trim prefix="(" suffix="," suffixOverrides=",">
                #{item.created},
                #{item.createid},
                #{item.updated},
                #{item.companyid},
                #{item.mediaid}
            </trim>
        </foreach>
    </insert>

    <update id="updateCompanyMediaQueue">
        UPDATE `company_media_queue`
        <set>
            <if test="valueParams.updated != null">
                `updated`=#{valueParams.updated},
            </if>
            <if test="valueParams.updateid != null">
                `updateid`=#{valueParams.updateid},
            </if>
            <if test="valueParams.deleted != null">
                `deleted`=#{valueParams.deleted},
            </if>
            <if test="valueParams.deleteid != null">
                `deleteid`=#{valueParams.deleteid},
            </if>
            <if test="valueParams.status != null">
                `status`=#{valueParams.status},
            </if>
            <if test="valueParams.companyid != null">
                `companyid`=#{valueParams.companyid},
            </if>
            <if test="valueParams.mediaid != null">
                `mediaid`=#{valueParams.mediaid},
            </if>
        </set>
        <where>
            <if test="whereParams.id != null">
                AND `id`=#{whereParams.id}
            </if>
            <if test="whereParams.updateid != null">
                AND `updateid`=#{whereParams.updateid}
            </if>
            <if test="whereParams.deleteid != null">
                AND `deleteid`=#{whereParams.deleteid}
            </if>
            <if test="whereParams.deleteid != null">
                AND `status`=#{whereParams.status}
            </if>
            <if test="whereParams.deleteid != null">
                AND `companyid`=#{whereParams.companyid}
            </if>
            <if test="whereParams.deleteid != null">
                AND `mediaid`=#{whereParams.mediaid}
            </if>
        </where>
    </update>

</mapper>