<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjs.cronus.mappers.CompanyMediaQueueMapper">

    <resultMap id="BaseResultMap" type="com.fjs.cronus.entity.CompanyMediaQueue">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="createid" property="createid" jdbcType="INTEGER" />
        <result column="updated" property="updated" jdbcType="TIMESTAMP" />
        <result column="updateid" property="updateid" jdbcType="INTEGER" />
        <result column="deleted" property="deleted" jdbcType="TIMESTAMP" />
        <result column="deleteid" property="deleteid" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
        <result column="companyid" property="companyid" jdbcType="INTEGER" />
        <result column="mediaid" property="mediaid" jdbcType="INTEGER" />
        <result column="yearmonth" property="yearmonth" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,`created`,`createid`,`updated`,`updateid`,`deleted`,`deleteid`,`status`,`companyid`,`mediaid`,`yearmonth`
    </sql>

    <select id="selectByExample" parameterType="com.fjs.cronus.entity.CompanyMediaQueue" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" /> FROM `company_media_queue`
        <where>
            <if test="id != null">
                AND `id`=#{id}
            </if>
            <if test="createid != null">
                AND `createid`=#{createid}
            </if>
            <if test="updateid != null">
                AND `updateid`=#{updateid}
            </if>
            <if test="deleteid != null">
                AND `deleteid`=#{deleteid}
            </if>
            <if test="status != null">
                AND `status`=#{status}
            </if>
            <if test="companyid != null">
                AND `companyid`=#{companyid}
            </if>
            <if test="mediaid != null">
                AND `mediaid`=#{mediaid}
            </if>
            <if test="yearmonth != null AND yearmonth !='' ">
                AND `yearmonth`=#{yearmonth}
            </if>
        </where>
    </select>

    <select id="findByCompanyId" resultType="com.fjs.cronus.entity.CompanyMediaQueue">
        SELECT <include refid="Base_Column_List" /> FROM company_media_queue WHERE `companyid`=#{companyid} AND `yearmonth`=#{yearmonth} AND `status`=#{status}
    </select>

    <insert id="addBatchCompanyMediaQueue">
        INSERT INTO `company_media_queue`(
          `created`,`createid`,`updated`,`updateid`,`status`,`companyid`,`mediaid`,`yearmonth`
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{created},#{createid},#{updated},#{updateid},#{status},#{companyid},#{mediaid},#{yearmonth}
            )
        </foreach>
    </insert>

    <update id="updateCompanyMediaQueue">
        UPDATE `company_media_queue`
        <set>
            <if test="valueParams.updated != null">
                `updated`=#valueParams.{updated},
            </if>
            <if test="valueParams.updateid != null">
                `updateid`=#{valueParams.updateid},
            </if>
            <if test="valueParams.deleted != null">
                `deleted`=#{valueParams.deleted},
            </if>
            <if test="valueParams.deleteid != null">
                `deleteid`=#{valueParams.deleteid},
            </if>
            <if test="valueParams.status != null">
                `status`=#{valueParams.status},
            </if>
            <if test="valueParams.companyid != null">
                `companyid`=#{valueParams.companyid},
            </if>
            <if test="valueParams.mediaid != null">
                `mediaid`=#{valueParams.mediaid},
            </if>
            <if test="valueParams.yearmonth != null AND valueParams.yearmonth !='' ">
                `yearmonth`=#{valueParams.yearmonth},
            </if>
        </set>
        <where>
            <if test="whereParams.id != null">
                AND `id`=#{whereParams.id}
            </if>
            <if test="whereParams.createid != null">
                AND `createid`=#{whereParams.createid}
            </if>
            <if test="whereParams.updateid != null">
                AND `updateid`=#{whereParams.updateid}
            </if>
            <if test="whereParams.deleteid != null">
                AND `deleteid`=#{whereParams.deleteid}
            </if>
            <if test="whereParams.status != null">
                AND `status`=#{whereParams.status}
            </if>
            <if test="whereParams.companyid != null">
                AND `companyid`=#{whereParams.companyid}
            </if>
            <if test="whereParams.mediaid != null">
                AND `mediaid`=#{whereParams.mediaid}
            </if>
            <if test="whereParams.yearmonth != null AND yearmonth !='' ">
                AND `yearmonth`=#{whereParams.yearmonth}
            </if>
        </where>
    </update>

</mapper>