<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjs.cronus.mappers.CustomerMeetMapper">
	<resultMap id="BaseResultMap" type="com.fjs.cronus.model.CustomerMeet">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="loan_id" property="loanId" jdbcType="INTEGER" />
		<result column="customer_id" property="customerId" jdbcType="INTEGER" />
		<result column="content" property="content" jdbcType="LONGVARCHAR" />
		<result column="meet_time" property="meetTime" jdbcType="TIMESTAMP" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user" property="createUser" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id,loan_id,customer_id,content,meet_time,create_time,create_user
	</sql>

	<select id="findByFeild" resultMap="BaseResultMap" parameterType="com.fjs.cronus.model.CustomerMeet">
     select
	 <include refid="Base_Column_List" />
     from customer_meet
	 WHERE  1 = 1

	and customer_id = #{customerId}
	</select>
	<select id="selectByTime" resultMap="BaseResultMap" parameterType="com.fjs.cronus.model.CustomerMeet">
		select
		<include refid="Base_Column_List" />
		from customer_meet
		WHERE  1 = 1
		AND meet_time > #{meetTime}
	</select>
</mapper>