<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjs.cronus.mappers.CustomerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.fjs.cronus.model.CustomerInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="telephonenumber" property="telephonenumber" jdbcType="VARCHAR" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_type" property="customerType" jdbcType="VARCHAR" />
    <result column="customer_level" property="customerLevel" jdbcType="VARCHAR" />
    <result column="spare_phone" property="sparePhone" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="marriage" property="marriage" jdbcType="VARCHAR" />
    <result column="id_card" property="idCard" jdbcType="VARCHAR" />
    <result column="province_huji" property="provinceHuji" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
      <result column="customer_street" property="customerStreet" jdbcType="VARCHAR" />
      <result column="customer_address" property="customerAddress" jdbcType="VARCHAR" />
    <result column="house_status" property="houseStatus" jdbcType="VARCHAR" />
    <result column="house_amount" property="houseAmount" jdbcType="VARCHAR" />
    <result column="house_type" property="houseType" jdbcType="VARCHAR" />
    <result column="house_value" property="houseValue" jdbcType="VARCHAR" />
    <result column="house_area" property="houseArea" jdbcType="VARCHAR" />
    <result column="house_age" property="houseAge" jdbcType="VARCHAR" />
    <result column="house_loan" property="houseLoan" jdbcType="VARCHAR" />
    <result column="house_alone" property="houseAlone" jdbcType="VARCHAR" />
    <result column="house_location" property="houseLocation" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="customer_classify" property="customerClassify" jdbcType="VARCHAR" />
    <result column="callback_status" property="callbackStatus" jdbcType="VARCHAR" />
    <result column="callback_time" property="callbackTime" jdbcType="TIMESTAMP" />
    <result column="sub_company_id" property="subCompanyId" jdbcType="INTEGER" />
    <result column="house_loanv_alue" property="houseLoanValue" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fjs.cronus.model.CustomerInfo" extends="BaseResultMap" >
    <result column="per_description" property="perDescription" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, telephonenumber, customer_name, customer_type, customer_level, spare_phone, age, marriage, id_card,
    province_huji, sex,customer_street, customer_address, house_status, house_amount, house_type, house_value,
    house_area, house_age, house_loan, house_alone, house_location, city, customer_classify, 
    callback_status, callback_time, sub_company_id,house_loan_value,create_time, last_update_time, create_user,
    last_update_user, is_deleted
  </sql>
  <sql id="Blob_Column_List" >
    per_description
  </sql>
  <select id="customerListCount" parameterType="java.util.Map"  resultType="java.lang.Integer">
    select count(*) from customer_info c
    WHERE  1 = 1
    <if test="customerName !=null and customerName !=''">
      AND  c.customer_name  like CONCAT('%',#{customerName},'%' )
    </if>
    <if test="(createTimeStart!=null and createTimeStart!='') or (createTimeEnd!=null and createTimeEnd!='')">
      and c.create_time BETWEEN #{createTimeStart} and #{createTimeEnd}
    </if>
    <if test="telephonenumber != null and telephonenumber !=''">
      and c.telephonenumber like CONCAT('%',#{telephonenumber},'%' )
    </if>
  </select>

  <select id="customerList" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from customer_info  c
    WHERE  c.is_deleted = 0
    <if test="customerName !=null and customerName !=''">
      and c.customer_name  like CONCAT('%', #{customerName},'%' )
    </if>
     <if test="createTimeStart!=null and createTimeStart!='' and createTimeEnd!=null and createTimeEnd!=''">
      and c.create_time BETWEEN ${createTimeStart} and ${createTimeEnd}
     </if>
    <if test="telephonenumber != null and telephonenumber != ''">
      and c.telephonenumber like CONCAT('%',${telephonenumber},'%' )
    </if>
    <choose>
      <when test="order != null and order !=''">
        order by ${order} desc
      </when>
      <otherwise>
        order by c.create_time desc
      </otherwise>
    </choose>
    limit #{start},#{size}
  </select>
  <insert id="insertCustomer" parameterType="com.fjs.cronus.model.CustomerInfo" useGeneratedKeys="true" keyProperty="id">
    insert into customer_info
      <trim prefix="(" suffix=")" suffixOverrides="," >

          <if test="telephonenumber != null" >
              telephonenumber,
          </if>
          <if test="customerName != null" >
              customer_name,
          </if>
          <if test="customerType != null" >
              customer_type,
          </if>
          <if test="customerLevel != null" >
              customer_level,
          </if>
          <if test="sparePhone != null" >
              spare_phone,
          </if>
          <if test="age != null" >
              age,
          </if>
          <if test="marriage != null" >
              marriage,
          </if>
          <if test="idCard != null" >
              id_card,
          </if>
          <if test="provinceHuji != null" >
              province_huji,
          </if>
          <if test="sex != null" >
              sex,
          </if>
          <if test="customerStreet != null" >
              customer_street,
          </if>
          <if test="customerAddress != null" >
              customer_address,
          </if>
          <if test="houseStatus != null" >
              house_status,
          </if>
          <if test="houseAmount != null" >
              house_amount,
          </if>
          <if test="houseType != null" >
              house_type,
          </if>
          <if test="houseValue != null" >
              house_value,
          </if>
          <if test="houseArea != null" >
              house_area,
          </if>
          <if test="houseAge != null" >
              house_age,
          </if>
          <if test="houseLoan != null" >
              house_loan,
          </if>
          <if test="houseAlone != null" >
              house_alone,
          </if>
          <if test="houseLocation != null" >
              house_location,
          </if>
          <if test="city != null" >
              city,
          </if>
          <if test="customerClassify != null" >
              customer_classify,
          </if>
          <if test="callbackStatus != null" >
              callback_status,
          </if>
          <if test="callbackTime != null" >
              callback_time,
          </if>
          <if test="subCompanyId != null" >
              sub_company_id,
          </if>
          <if test="houseLoanValue != null" >
              house_loan_value,
          </if>
          <if test="createTime != null" >
              create_time,
          </if>
          <if test="lastUpdateTime != null" >
              last_update_time,
          </if>
          <if test="createUser != null" >
              create_user,
          </if>
          <if test="lastUpdateUser != null" >
              last_update_user,
          </if>
          <if test="isDeleted != null" >
              is_deleted,
          </if>
          <if test="perDescription != null" >
              per_description,
          </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
          <if test="telephonenumber != null" >
              #{telephonenumber,jdbcType=VARCHAR},
          </if>
          <if test="customerName != null" >
              #{customerName,jdbcType=VARCHAR},
          </if>
          <if test="customerType != null" >
              #{customerType,jdbcType=VARCHAR},
          </if>
          <if test="customerLevel != null" >
              #{customerLevel,jdbcType=VARCHAR},
          </if>
          <if test="sparePhone != null" >
              #{sparePhone,jdbcType=VARCHAR},
          </if>
          <if test="age != null" >
              #{age,jdbcType=VARCHAR},
          </if>
          <if test="marriage != null" >
              #{marriage,jdbcType=VARCHAR},
          </if>
          <if test="idCard != null" >
              #{idCard,jdbcType=VARCHAR},
          </if>
          <if test="provinceHuji != null" >
              #{provinceHuji,jdbcType=VARCHAR},
          </if>
          <if test="sex != null" >
              #{sex,jdbcType=VARCHAR},
          </if>
          <if test="customerStreet != null" >
              #{customerStreet,jdbcType=VARCHAR},
          </if>
          <if test="customerAddress != null" >
              #{customerAddress,jdbcType=VARCHAR},
          </if>
          <if test="houseStatus != null" >
              #{houseStatus,jdbcType=VARCHAR},
          </if>
          <if test="houseAmount != null" >
              #{houseAmount,jdbcType=VARCHAR},
          </if>
          <if test="houseType != null" >
              #{houseType,jdbcType=VARCHAR},
          </if>
          <if test="houseValue != null" >
              #{houseValue,jdbcType=VARCHAR},
          </if>
          <if test="houseArea != null" >
              #{houseArea,jdbcType=VARCHAR},
          </if>
          <if test="houseAge != null" >
              #{houseAge,jdbcType=VARCHAR},
          </if>
          <if test="houseLoan != null" >
              #{houseLoan,jdbcType=VARCHAR},
          </if>
          <if test="houseAlone != null" >
              #{houseAlone,jdbcType=VARCHAR},
          </if>
          <if test="houseLocation != null" >
              #{houseLocation,jdbcType=VARCHAR},
          </if>
          <if test="city != null" >
              #{city,jdbcType=VARCHAR},
          </if>
          <if test="customerClassify != null" >
              #{customerClassify,jdbcType=VARCHAR},
          </if>
          <if test="callbackStatus != null" >
              #{callbackStatus,jdbcType=VARCHAR},
          </if>
          <if test="callbackTime != null" >
              #{callbackTime,jdbcType=TIMESTAMP},
          </if>
          <if test="subCompanyId != null" >
              #{subCompanyId,jdbcType=INTEGER},
          </if>
          <if test="houseLoanValue != null" >
              #{houseLoanValue,jdbcType=VARCHAR},
          </if>
          <if test="createTime != null" >
              #{createTime,jdbcType=TIMESTAMP},
          </if>
          <if test="lastUpdateTime != null" >
              #{lastUpdateTime,jdbcType=TIMESTAMP},
          </if>
          <if test="createUser != null" >
              #{createUser,jdbcType=INTEGER},
          </if>
          <if test="lastUpdateUser != null" >
              #{lastUpdateUser,jdbcType=INTEGER},
          </if>
          <if test="isDeleted != null" >
              #{isDeleted,jdbcType=INTEGER},
          </if>
          <if test="perDescription != null" >
              #{perDescription,jdbcType=LONGVARCHAR},
          </if>
      </trim>
  </insert>
 <select id="findByFeild" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
  select
  <include refid="Base_Column_List" />
  ,
  <include refid="Blob_Column_List" />
  from customer_info  c
  WHERE  c.is_deleted = 0
  <if test="paramsList!=null and paramsList.size>0">
    AND c.telephonenumber in
    <foreach collection="paramsList" item="paramsList"
             index="index" open="(" close=")" separator=",">
      ${paramsList}
    </foreach>
  </if>
     <if test="id != null and id !=''">
         and c.id = #{id}
     </if>
     <if test="customerType != null and customerType !=''">
         and c.customer_type = #{customerType}
     </if>
</select>
  <select id="findCustomerListByFeild" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from customer_info  c
    WHERE  c.is_deleted = 0
    <if test="paramsList!=null and paramsList.size>0">
      AND c.id in
      <foreach collection="paramsList" item="paramsList"
               index="index" open="(" close=")" separator=",">
        ${paramsList}
      </foreach>
    </if>
      <if test="id != null and id !=''">
          and c.id = #{id}
      </if>
      <if test="customerName != null and customerName !=''">
          and c.customer_name = #{customerName}
      </if>

  </select>
    <update id="updateCustomer" parameterType="com.fjs.cronus.model.CustomerInfo" >
        update customer_info
        <set >
            <if test="telephonenumber != null" >
                telephonenumber = #{telephonenumber,jdbcType=VARCHAR},
            </if>
            <if test="customerName != null" >
                customer_name = #{customerName,jdbcType=VARCHAR},
            </if>
            <if test="customerType != null" >
                customer_type = #{customerType,jdbcType=VARCHAR},
            </if>
            <if test="customerLevel != null" >
                customer_level = #{customerLevel,jdbcType=VARCHAR},
            </if>
            <if test="sparePhone != null" >
                spare_phone = #{sparePhone,jdbcType=VARCHAR},
            </if>
            <if test="age != null" >
                age = #{age,jdbcType=VARCHAR},
            </if>
            <if test="marriage != null" >
                marriage = #{marriage,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null" >
                id_card = #{idCard,jdbcType=VARCHAR},
            </if>
            <if test="provinceHuji != null" >
                province_huji = #{provinceHuji,jdbcType=VARCHAR},
            </if>
            <if test="sex != null" >
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="customerStreet != null" >
                customers_street = #{customerStreet,jdbcType=VARCHAR},
            </if>
            <if test="customerAddress != null" >
                customer_address = #{customerAddress,jdbcType=VARCHAR},
            </if>
            <if test="houseStatus != null" >
                house_status = #{houseStatus,jdbcType=VARCHAR},
            </if>
            <if test="houseAmount != null" >
                house_amount = #{houseAmount,jdbcType=VARCHAR},
            </if>
            <if test="houseType != null" >
                house_type = #{houseType,jdbcType=VARCHAR},
            </if>
            <if test="houseValue != null" >
                house_value = #{houseValue,jdbcType=VARCHAR},
            </if>
            <if test="houseArea != null" >
                house_area = #{houseArea,jdbcType=VARCHAR},
            </if>
            <if test="houseAge != null" >
                house_age = #{houseAge,jdbcType=VARCHAR},
            </if>
            <if test="houseLoan != null" >
                house_loan = #{houseLoan,jdbcType=VARCHAR},
            </if>
            <if test="houseAlone != null" >
                house_alone = #{houseAlone,jdbcType=VARCHAR},
            </if>
            <if test="houseLocation != null" >
                house_location = #{houseLocation,jdbcType=VARCHAR},
            </if>
            <if test="city != null" >
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="customerClassify != null" >
                customer_classify = #{customerClassify,jdbcType=VARCHAR},
            </if>
            <if test="callbackStatus != null" >
                callback_status = #{callbackStatus,jdbcType=VARCHAR},
            </if>
            <if test="callbackTime != null" >
                callback_time = #{callbackTime,jdbcType=TIMESTAMP},
            </if>
            <if test="subCompanyId != null" >
                sub_company_id = #{subCompanyId,jdbcType=INTEGER},
            </if>
            <if test="houseLoanValue != null" >
                house_loan_value = #{houseLoanValue,jdbcType=VARCHAR},
            </if>

            <if test="createTime != null" >
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastUpdateTime != null" >
                last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUser != null" >
                create_user = #{createUser,jdbcType=INTEGER},
            </if>
            <if test="lastUpdateUser != null" >
                last_update_user = #{lastUpdateUser,jdbcType=INTEGER},
            </if>
            <if test="isDeleted != null" >
                is_deleted = #{isDeleted,jdbcType=INTEGER},
            </if>
            <if test="perDescription != null" >
                per_description = #{perDescription,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <select id="getListByWhere" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List" />
        ,
        <include refid="Blob_Column_List" />
        from customer_info  c
        WHERE  c.is_deleted = 0
        <if test="customerIdList!=null and customerIdList.size>0">
            AND c.id in
            <foreach collection="customerIdList" item="customerIdList"
                     index="index" open="(" close=")" separator=",">
                ${customerIdList}
            </foreach>
        </if>
        <if test="customer_type!=null and customer_type!=''">
            and c.customer_type = #{customer_type}
        </if>
        <if test="cityList!=null and cityList.size>0">
            AND c.city in
            <foreach collection="cityList" item="cityList"
                     index="index" open="(" close=")" separator=",">
                ${cityList}
            </foreach>
        </if>
        <if test="search_name !=null and search_name !=''">
            and c.customer_name = #{search_name}
        </if>
        <if test="search_telephone != null and search_telephone != ''">
            and c.telephonenumber = #{search_telephone}
        </if>
        <if test="search_callback_status != null and search_callback_status != ''">
            and c.callback_status = #{search_callback_status}
        </if>
        <choose>
            <when test="communication_order != null and order == 1">
              and c.callback_time is NULL
            </when>
            <when test="communication_order != null and order == 2">
                and c.callback_time is NOT NULL and  c.callback_time &lt;= #{searchTime}
            </when>

            <when test="communication_order != null and order == 3">
                and c.callback_time is NOT NULL and  c.callback_time &gt;= #{searchTime} AND c.callback_status=#{callback_status}
            </when>
            <otherwise>
                and c.callback_time is  NULL or c.callback_time &lt;= #{searchTime}
            </otherwise>
        </choose>
        ORDER BY  c.create_time DESC
        limit #{start},#{size}
    </select>
    <select id="findCustomerByType" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        c.id
        from customer_info  c
        WHERE  c.is_deleted = 0
        <if test="customerType != null and customerType !=''">
            and c.customer_type = #{customerType}
        </if>
    </select>
    <select id="getListByWhereCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        select
        COUNT(*)
        from customer_info  c
        WHERE  c.is_deleted = 0
        <if test="customerIdList!=null and customerIdList.size>0">
            AND c.id in
            <foreach collection="customerIdList" item="customerIdList"
                     index="index" open="(" close=")" separator=",">
                ${customerIdList}
            </foreach>
        </if>
        <if test="customer_type!=null and customer_type!=''">
            and c.customer_type = #{customer_type}
        </if>
        <if test="cityList!=null and cityList.size>0">
            AND c.id in
            <foreach collection="cityList" item="cityList"
                     index="index" open="(" close=")" separator=",">
                #{cityList}
            </foreach>
        </if>
        <if test="search_name !=null and search_name !=''">
            and c.customer_name = #{search_name}
        </if>
        <if test="search_telephone != null and search_telephone != ''">
            and c.telephonenumber = #{search_telephone}
        </if>
        <if test="search_callback_status != null and search_callback_status != ''">
            and c.callback_status = #{search_callback_status}
        </if>
        <choose>
            <when test="communication_order != null and order == 1">
                and c.callback_time is NULL
            </when>
            <when test="communication_order != null and order == 2">
                and c.callback_time is NOT NULL and  c.callback_time &lt;= #{searchTime}
            </when>

            <when test="communication_order != null and order == 3">
                and c.callback_time is NOT NULL and  c.callback_time &gt;= #{searchTime} AND c.callback_status=#{callback_status}
            </when>
            <otherwise>
                and c.callback_time is  NULL or c.callback_time &lt;= #{searchTime}
            </otherwise>
        </choose>
    </select>
</mapper>