<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjs.cronus.mappers.CustomerInterviewInsuranceInfoMapper" >
  <resultMap id="BaseResultMap" type="com.fjs.cronus.model.CustomerInterviewInsuranceInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_interview_base_info_id" property="customerInterviewBaseInfoId" jdbcType="INTEGER" />
    <result column="insurance_company" property="insuranceCompany" jdbcType="VARCHAR" />
    <result column="insurance_type" property="insuranceType" jdbcType="VARCHAR" />
    <result column="pay_type" property="payType" jdbcType="VARCHAR" />
    <result column="year_pay_amount" property="yearPayAmount" jdbcType="INTEGER" />
    <result column="month_pay_amount" property="monthPayAmount" jdbcType="INTEGER" />
    <result column="effect_date" property="effectDate" jdbcType="TIMESTAMP" />
    <result column="is_suspend" property="isSuspend" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_interview_base_info_id, insurance_company, insurance_type, pay_type, 
    year_pay_amount, month_pay_amount, effect_date, is_suspend, create_time, last_update_time, 
    create_user, last_update_user, is_deleted
  </sql>
  <select id="findByCustomerInterviewInsurByFeild" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from customer_interview_insurance_info
    where is_deleted = 0
    <if test="customerInterviewBaseInfoId != null">
      customer_interview_base_info_id = #{customerInterviewBaseInfoId}
    </if>
  </select>
  <insert id="addCustomerInsura" parameterType="com.fjs.cronus.model.CustomerInterviewInsuranceInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into customer_interview_insurance_info

      <if test="customerInterviewBaseInfoId != null" >
        customer_interview_base_info_id,
      </if>
      <if test="insuranceCompany != null" >
        insurance_company,
      </if>
      <if test="insuranceType != null" >
        insurance_type,
      </if>
      <if test="payType != null" >
        pay_type,
      </if>
      <if test="yearPayAmount != null" >
        year_pay_amount,
      </if>
      <if test="monthPayAmount != null" >
        month_pay_amount,
      </if>
      <if test="effectDate != null" >
        effect_date,
      </if>
      <if test="isSuspend != null" >
        is_suspend,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>

      values(
      <if test="customerInterviewBaseInfoId != null" >
        #{customerInterviewBaseInfoId,jdbcType=INTEGER},
      </if>
      <if test="insuranceCompany != null" >
        #{insuranceCompany,jdbcType=VARCHAR},
      </if>
      <if test="insuranceType != null" >
        #{insuranceType,jdbcType=VARCHAR},
      </if>
      <if test="payType != null" >
        #{payType,jdbcType=VARCHAR},
      </if>
      <if test="yearPayAmount != null" >
        #{yearPayAmount,jdbcType=INTEGER},
      </if>
      <if test="monthPayAmount != null" >
        #{monthPayAmount,jdbcType=INTEGER},
      </if>
      <if test="effectDate != null" >
        #{effectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isSuspend != null" >
        #{isSuspend,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateUser != null" >
        #{lastUpdateUser,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    )

  </insert>
</mapper>