<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjs.cronus.mappers.MailMapper" >
  <resultMap id="BaseResultMap" type="com.fjs.cronus.model.Mail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="from_id" property="fromId" jdbcType="INTEGER" />
    <result column="from_name" property="fromName" jdbcType="VARCHAR" />
    <result column="to_id" property="toId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="notice_time" property="noticeTime" jdbcType="INTEGER" />
    <result column="is_notice" property="isNotice" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.fjs.cronus.model.Mail" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, from_id, from_name, to_id, status, notice_time, is_notice, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
</mapper>