<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjs.cronus.mappers.OcrDriverVehicleMapper" >
  <resultMap id="BaseResultMap" type="com.fjs.cronus.model.OcrDriverVehicle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_telephone" property="customerTelephone" jdbcType="VARCHAR" />
    <result column="driver_owner" property="driverOwner" jdbcType="VARCHAR" />
    <result column="driver_plate_num" property="driverPlateNum" jdbcType="VARCHAR" />
    <result column="driver_vehicle_type" property="driverVehicleType" jdbcType="VARCHAR" />
    <result column="driver_vin" property="driverVin" jdbcType="VARCHAR" />
    <result column="driver_engine_num" property="driverEngineNum" jdbcType="VARCHAR" />
    <result column="driver_register_date" property="driverRegisterDate" jdbcType="VARCHAR" />
    <result column="document_id" property="documentId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, customer_name, customer_telephone, driver_owner, driver_plate_num, 
    driver_vehicle_type, driver_vin, driver_engine_num, driver_register_date, document_id, 
    status, create_time, last_update_time, create_user, last_update_user, is_deleted
  </sql>


  <select id="findByFeild" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ocr_driver_vehicle
    WHERE is_deleted = 0
    <if test="id != null">
      and id = #{id}
    </if>
  </select>
  <select id="getOcrInfoList" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ocr_driver_vehicle
    WHERE is_deleted = 0
    <if test="create_user_id != null and create_user_id !=''" >
      and create_user =#{create_user_id}
    </if>
    <if test="customer_telephone != null and customer_telephone !=''" >
      and customer_telephone =#{customer_telephone}
    </if>
    <if test="customer_name != null and customer_name !=''" >
      and customer_name  like CONCAT('%', #{customer_name},'%' )
    </if>
    <if test="status != null and status !=''" >
      and status =#{status}
    </if>
    <choose>
      <when test="order != null and order !=''">
        order by ${order} desc
      </when>
      <otherwise>
        order by create_time desc
      </otherwise>
    </choose>
    limit #{start},#{size}
  </select>
  <select id="getOcrInfoCount" parameterType="java.util.Map" resultType="java.lang.Integer">
    select
    COUNT(*)
    from ocr_driver_vehicle
    WHERE is_deleted = 0
    <if test="create_user_id != null and create_user_id !=''" >
      and create_user =#{create_user_id}
    </if>
    <if test="customer_telephone != null and customer_telephone !=''" >
      and customer_telephone =#{customer_telephone}
    </if>
    <if test="customer_name != null and customer_name !=''" >
      and customer_name  like CONCAT('%', #{customer_name},'%' )
    </if>
    <if test="status != null and status !=''" >
      and status =#{status}
    </if>
    <choose>
      <when test="order != null and order !=''">
        order by ${order} desc
      </when>
      <otherwise>
        order by create_time desc
      </otherwise>
    </choose>
  </select>

  <update id="updateDriverVeh" parameterType="com.fjs.cronus.model.OcrDriverVehicle" >
    update ocr_driver_vehicle
    <set >
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerTelephone != null" >
        customer_telephone = #{customerTelephone,jdbcType=VARCHAR},
      </if>
      <if test="driverOwner != null" >
        driver_owner = #{driverOwner,jdbcType=VARCHAR},
      </if>
      <if test="driverPlateNum != null" >
        driver_plate_num = #{driverPlateNum,jdbcType=VARCHAR},
      </if>
      <if test="driverVehicleType != null" >
        driver_vehicle_type = #{driverVehicleType,jdbcType=VARCHAR},
      </if>
      <if test="driverVin != null" >
        driver_vin = #{driverVin,jdbcType=VARCHAR},
      </if>
      <if test="driverEngineNum != null" >
        driver_engine_num = #{driverEngineNum,jdbcType=VARCHAR},
      </if>
      <if test="driverRegisterDate != null" >
        driver_register_date = #{driverRegisterDate,jdbcType=VARCHAR},
      </if>
      <if test="documentId != null" >
        document_id = #{documentId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user = #{lastUpdateUser,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="addDriverVeh" parameterType="com.fjs.cronus.model.OcrDriverVehicle" useGeneratedKeys="true" keyProperty="id" >
    insert into ocr_driver_vehicle
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="customerTelephone != null" >
        customer_telephone,
      </if>
      <if test="driverOwner != null" >
        driver_owner,
      </if>
      <if test="driverPlateNum != null" >
        driver_plate_num,
      </if>
      <if test="driverVehicleType != null" >
        driver_vehicle_type,
      </if>
      <if test="driverVin != null" >
        driver_vin,
      </if>
      <if test="driverEngineNum != null" >
        driver_engine_num,
      </if>
      <if test="driverRegisterDate != null" >
        driver_register_date,
      </if>
      <if test="documentId != null" >
        document_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="customerTelephone != null" >
        #{customerTelephone,jdbcType=VARCHAR},
      </if>
      <if test="driverOwner != null" >
        #{driverOwner,jdbcType=VARCHAR},
      </if>
      <if test="driverPlateNum != null" >
        #{driverPlateNum,jdbcType=VARCHAR},
      </if>
      <if test="driverVehicleType != null" >
        #{driverVehicleType,jdbcType=VARCHAR},
      </if>
      <if test="driverVin != null" >
        #{driverVin,jdbcType=VARCHAR},
      </if>
      <if test="driverEngineNum != null" >
        #{driverEngineNum,jdbcType=VARCHAR},
      </if>
      <if test="driverRegisterDate != null" >
        #{driverRegisterDate,jdbcType=VARCHAR},
      </if>
      <if test="documentId != null" >
        #{documentId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateUser != null" >
        #{lastUpdateUser,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

</mapper>