<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjs.cronus.mappers.OcrIdentityMapper" >
  <resultMap id="BaseResultMap" type="com.fjs.cronus.model.OcrIdentity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="customer_name" property="customerName" jdbcType="VARCHAR" />
    <result column="customer_telephone" property="customerTelephone" jdbcType="VARCHAR" />
    <result column="card_name" property="cardName" jdbcType="VARCHAR" />
    <result column="card_sex" property="cardSex" jdbcType="VARCHAR" />
    <result column="card_nation" property="cardNation" jdbcType="VARCHAR" />
    <result column="card_birth" property="cardBirth" jdbcType="VARCHAR" />
    <result column="card_address" property="cardAddress" jdbcType="VARCHAR" />
    <result column="card_num" property="cardNum" jdbcType="VARCHAR" />
    <result column="card_sign_org" property="cardSignOrg" jdbcType="VARCHAR" />
    <result column="card_valid_start" property="cardValidStart" jdbcType="VARCHAR" />
    <result column="card_valid_end" property="cardValidEnd" jdbcType="VARCHAR" />
    <result column="crm_attach_back_id" property="crmAttachBackId" jdbcType="VARCHAR" />
    <result column="crm_attach_face_id" property="crmAttachFaceId" jdbcType="VARCHAR" />
    <result column="document_category_ids" property="documentCategoryIds" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_id, customer_name, customer_telephone, card_name, card_sex, card_nation, 
    card_birth, card_address, card_num, card_sign_org, card_valid_start, card_valid_end, 
    crm_attach_back_id, crm_attach_face_id, document_category_ids, status, create_time, 
    last_update_time, create_user, last_update_user, is_deleted
  </sql>
</mapper>