<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjs.cronus.mappers.PullCustomerMapper">
	<resultMap id="BaseResultMap" type="com.fjs.cronus.model.PullCustomer">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="sale_id" property="saleId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="telephone" property="telephone" jdbcType="VARCHAR" />
		<result column="old_telephone" property="oldTelephone" jdbcType="VARCHAR" />
		<result column="loan_amount" property="loanAmount" jdbcType="DECIMAL" />
		<result column="city" property="city" jdbcType="VARCHAR" />
		<result column="customer_source" property="customerSource" jdbcType="VARCHAR" />
		<result column="utm_source" property="utmSource" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="extend_text" property="extendText" jdbcType="VARCHAR" />
		<result column="create_user" property="createUser" jdbcType="INTEGER" />
		<result column="last_update_user" property="lastUpdateUser" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
		<result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id,sale_id,name,telephone,old_telephone,		
		loan_amount,city,customer_source,utm_source,
		status,extend_text,create_user,
		last_update_user,is_deleted,create_time,last_update_time
	</sql>
	
	<select id="listByCondition" resultMap="BaseResultMap" parameterType="com.fjs.cronus.model.PullCustomer">
		select
		<include refid="Base_Column_List" />
		from pull_customer
		where 1=1
		<if test="name != null and '' != name">  
			and name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="telephone != null and '' != telephone">  
			and telephone = #{telephone,jdbcType=VARCHAR}
		</if>
		<if test="city != null and '' != city">  
			and city = #{city,jdbcType=VARCHAR}
		</if>
		<if test="status != null ">
			and status = #{status,jdbcType=INTEGER}
		</if>
		<if test="createTime != null and createTime !=null ">
			and create_time > #{createTime}
		</if>
		<if test="owerId!=null and owerId.size>0">
			AND sale_id in
			<foreach collection="saleIds" item="saleIds"
					 index="index" open="(" close=")" separator=",">
				${saleIds}
			</foreach>
		</if>
		<if test="mountLevle != null">
			<choose>
				<when test="mountLevle == 1">
					and (loan_amount  &gt; 0 and  loan_amount &lt; 200000)
				</when>
				<when test="mountLevle == 2">
					and (loan_amount  &gt; 200000 and  loan_amount &lt; 500000)
				</when>

				<when test="mountLevle == 3">
					and (loan_amount  &gt; 500000 and  loan_amount &lt; 1000000)
				</when>
				<when test="mountLevle == 4">
					and (loan_amount  &gt; 1000000 and  loan_amount &lt; 5000000)
				</when>
				<when test="mountLevle == 5">
					and (loan_amount  &gt; 5000000 )
				</when>
			</choose>
		</if>
        and is_deleted=0
        order by create_time desc
		limit ${start},${size}
	</select>

	<select id="countByCondition" resultType="Integer" parameterType="com.fjs.cronus.model.PullCustomer">
		select
	    COUNT(*)
		from pull_customer
		where 1=1
		<if test="name != null and '' != name">
			and name = #{name,jdbcType=VARCHAR}
		</if>
		<if test="telephone != null and '' != telephone">
			and telephone = #{telephone,jdbcType=VARCHAR}
		</if>
		<if test="city != null and '' != city">
			and city = #{city,jdbcType=VARCHAR}
		</if>
		<if test="status != null ">
			and status = #{status,jdbcType=INTEGER}
		</if>
		<if test="createTime != null and createTime !=null ">
			and create_time > #{createTime}
		</if>
		<if test="owerId!=null and owerId.size>0">
			AND sale_id in
			<foreach collection="saleIds" item="saleIds"
					 index="index" open="(" close=")" separator=",">
				${saleIds}
			</foreach>
		</if>
		<if test="mountLevle != null">
			<choose>
				<when test="mountLevle == 1">
					and (loan_amount  &gt; 0 and  loan_amount &lt; 200000)
				</when>
				<when test="mountLevle == 2">
					and (loan_amount  &gt; 200000 and  loan_amount &lt; 500000)
				</when>

				<when test="mountLevle == 3">
					and (loan_amount  &gt; 500000 and  loan_amount &lt; 1000000)
				</when>
				<when test="mountLevle == 4">
					and (loan_amount  &gt; 1000000 and  loan_amount &lt; 5000000)
				</when>
				<when test="mountLevle == 5">
					and (loan_amount  &gt; 5000000 )
				</when>
			</choose>
		</if>
		and is_deleted=0
	</select>
	
	<update id="update" parameterType="com.fjs.cronus.model.PullCustomer">
		update pull_customer
		<set>
			<if test="name != null and '' != name">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="telephone != null and '' != telephone">
				telephone = #{telephone,jdbcType=VARCHAR},
			</if>

			<if test="loanAmount != null ">
            	loan_amount = #{loanAmount,jdbcType=BIGINT},
			</if>
			<if test="status != null ">
            	status = #{status,jdbcType=INTEGER},
			</if>
			<if test="lastUpdateTime != null ">
				last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastUpdateUser != null ">
            	last_update_user = #{lastUpdateUser,jdbcType=INTEGER}
			</if>
        </set>
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>
