<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjs.cronus.mappers.RContractDocumentMapper" >
  <resultMap id="BaseResultMap" type="com.fjs.cronus.model.RContractDocument" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="contract_id" property="contractId" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="document_id" property="documentId" jdbcType="INTEGER" />
    <result column="creator_id" property="creatorId" jdbcType="INTEGER" />
    <result column="document_c_id" property="documentCId" jdbcType="INTEGER" />
    <result column="document_name" property="documentName" jdbcType="VARCHAR" />
    <result column="rc_document_source" property="rcDocumentSource" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="INTEGER" />
    <result column="is_deleted" property="isDeleted" jdbcType="INTEGER" />
    <association property="document" column= "document_id" javaType="com.fjs.cronus.model.Document" select="com.fjs.cronus.mappers.DocumentMapper.selectByKey"/>
    <association property="documentCategory" column= "document_c_id" javaType="com.fjs.cronus.model.DocumentCategory" select="com.fjs.cronus.mappers.DocumentCategoryMapper.selectByKey"/>
  </resultMap>
  <sql id="Base_Column_List" >
    id, contract_id, customer_id, document_id, creator_id, document_c_id, document_name, 
    rc_document_source, create_time, last_update_time, create_user, last_update_user, 
    is_deleted
  </sql>
  <sql id="Base_Column" >
    r.id, r.contract_id, r.customer_id, r.document_id, r.creator_id, r.document_c_id, r.document_name,
    r.rc_document_source, r.create_time, r.last_update_time, r.create_user, r.last_update_user,
    r.is_deleted
  </sql>
<select id="ocrDocument" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    *
    from r_contract_document r
    left join document d on d.id = r.document_id
    left join document_category c on r.document_c_id =c.id
    where r.is_deleted = 0
  <if test="crm_attach_ids!=null and crm_attach_ids.size>0">
     and d.id in
    <foreach collection="crm_attach_ids" item="crm_attach_ids"
             index="index" open="(" close=")" separator=",">
      ${crm_attach_ids}
    </foreach>
  </if>
  <if test="customerId != null and customerId != ''">
    and  r.customer_id = #{customerId}
  </if>
    order by r.last_update_time desc
  </select>
  <select id="checkCustomerIsUpload" parameterType="java.util.Map" resultType="java.lang.Integer">
    select
    COUNT(*)
    from r_contract_document r
    left join document d on d.id = r.document_id
    left join document_category c on r.document_c_id =c.id
    where r.is_deleted = 0 and (c.document_c_name  = #{identity} or c.document_c_name = #{household})
    <if test="customerId != null and customerId != ''">
      and  r.customer_id = #{customerId}
    </if>
  </select>
  <select id="findByFeild" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from r_contract_document
    where is_deleted = 0
    <if test="rc_document_id != null">
      and id = #{rc_document_id}
    </if>
    <if test="customerId != null">
      and customer_id = #{customerId}
    </if>
  </select>
  <insert id="addConDocument" parameterType="com.fjs.cronus.model.RContractDocument"   useGeneratedKeys="true" keyProperty="id">
    insert into r_contract_document
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="contractId != null" >
        contract_id,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="documentId != null" >
        document_id,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="documentCId != null" >
        document_c_id,
      </if>
      <if test="documentName != null" >
        document_name,
      </if>
      <if test="rcDocumentSource != null" >
        rc_document_source,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="lastUpdateUser != null" >
        last_update_user,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="contractId != null" >
        #{contractId,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="documentId != null" >
        #{documentId,jdbcType=INTEGER},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="documentCId != null" >
        #{documentCId,jdbcType=INTEGER},
      </if>
      <if test="documentName != null" >
        #{documentName,jdbcType=VARCHAR},
      </if>
      <if test="rcDocumentSource != null" >
        #{rcDocumentSource,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateUser != null" >
        #{lastUpdateUser,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <select id="findListByFeild" parameterType="java.util.Map" resultType="java.lang.Integer">
    select
    DISTINCT(document_c_id)
    from r_contract_document
    where is_deleted = 0
    <if test="rc_document_id != null">
      and id = #{rc_document_id}
    </if>
    <if test="customerId != null">
      and customer_id = #{customerId}
    </if>
  </select>
</mapper>