<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjs.cronus.mappers.UserMonthInfoMapper">

    <resultMap id="BaseResultMap" type="com.fjs.cronus.model.UserMonthInfo">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="base_customer_num" property="baseCustomerNum" jdbcType="INTEGER" />
        <result column="reward_customer_num" property="rewardCustomerNum" jdbcType="INTEGER" />
        <result column="assigned_customer_num" property="assignedCustomerNum" jdbcType="INTEGER" />
        <result column="effective_customer_num" property="effectiveCustomerNum" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
        <result column="last_update_user" property="lastUpdateUser" jdbcType="INTEGER" />
        <result column="effective_date" property="effectiveDate" jdbcType="VARCHAR" />
        <result column="companyid" property="companyid" jdbcType="INTEGER" />
        <result column="sourceid" property="sourceid" jdbcType="INTEGER" />
        <result column="mediaid" property="mediaid" jdbcType="INTEGER" />
        <result column="accountid" property="accountid" jdbcType="INTEGER" />
        <result column="channelid" property="channelid" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `user_id`,
        `base_customer_num`,
        `reward_customer_num`,
        `assigned_customer_num`,
        `effective_customer_num`,
        `create_time`,
        `create_user_id`,
        `last_update_time`,
        `last_update_user`,
        `effective_date`,
        `companyid`,
        `sourceid`,
        `mediaid`,
        `accountid`,
        `channelid`,
        `status`
    </sql>

    <select id="selectByParamsMap" resultMap="BaseResultMap" parameterType="Map">
        SELECT <include refid="Base_Column_List"/> FROM user_month_info
        <where>
            <if test="null != id">
                id = #{id}
            </if>
            <if test="null != userIds">
                AND user_id IN
                <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test=" null != effectiveDate">
                AND effective_date = #{effectiveDate}
            </if>
            <if test="companyid != null">
                AND `companyid` = #{companyid}
            </if>
            <if test="mediaid != null">
                AND `mediaid` = #{mediaid}
            </if>
            <if test="status != null">
                AND `status` = #{status}
            </if>
        </where>
    </select>

    <select id="findByParamsForUpdate" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM `user_month_info`
        WHERE
        `user_id` = #{salesmanId}
        AND `effective_date` = #{currentMonth}
        AND `companyid` = #{subCompanyId}
        AND `mediaid` IN (#{mediaid}, #{countMediaid})
        AND `status` = #{status}
        FOR  UPDATE
    </select>

    <select id="getOrderNum" resultType="java.lang.Integer">
        SELECT SUM(`assigned_customer_num`) FROM `user_month_info` WHERE `companyid`=#{companyid} AND `effective_date`=#{effectiveDate} AND `status`=#{status}
    </select>

    <update id="update2IncrNumForAssignedCustomerNum">
        UPDATE `user_month_info`
        SET `assigned_customer_num`= `assigned_customer_num`+1,
        `sourceid` = #{sourceId},
        `accountid` = #{accountId},
        `channelid` = #{channelId}
        WHERE
        `id` IN (
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>
        )
        AND `effective_date`=#{currentMonth}
    </update>

    <update id="update2IncrNumForEffectiveCustomerNum">
        UPDATE `user_month_info`
        SET `effective_customer_num`= `effective_customer_num`+1,
        WHERE
        `id` IN (
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>
        )
    </update>

    <select id="selectSum" resultType="java.lang.Integer">
        SELECT SUM(`assigned_customer_num`) FROM `user_month_info`
        WHERE `companyid`=#{companyid}
        <if test="sourceid != null">
          AND `sourceid`=#{sourceid}
        </if>
        <if test="mediaid != null">
            AND `mediaid`=#{mediaid}
        </if>
        AND `effective_date`=#{effectiveDate}
        AND `status`=#{status}
    </select>

</mapper>