<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fjs.cronus.mappers.UserMonthInfoMapper">

    <resultMap id="BaseResultMap" type="com.fjs.cronus.model.UserMonthInfo">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="base_customer_num" property="baseCustomerNum" jdbcType="INTEGER" />
        <result column="reward_customer_num" property="rewardCustomerNum" jdbcType="INTEGER" />
        <result column="assigned_customer_num" property="assignedCustomerNum" jdbcType="INTEGER" />
        <result column="effective_customer_num" property="effectiveCustomerNum" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
        <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
        <result column="last_update_user" property="lastUpdateUser" jdbcType="INTEGER" />
        <result column="effective_date" property="effectiveDate" jdbcType="VARCHAR" />
        <result column="companyid" property="companyid" jdbcType="INTEGER" />
        <result column="mediaid" property="mediaid" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List">
        `id`,
        `user_id`,
        `base_customer_num`,
        `reward_customer_num`,
        `assigned_customer_num`,
        `effective_customer_num`,
        `create_time`,
        `create_user_id`,
        `last_update_time`,
        `last_update_user`,
        `effective_date`,
        `companyid`,
        `mediaid`,
        `status`
    </sql>

    <select id="selectByParamsMap" resultMap="BaseResultMap" parameterType="Map">
        SELECT <include refid="Base_Column_List"/> FROM user_month_info
        <where>
            <if test="null != id">
                id = #{id}
            </if>
            <if test="null != userIds">
                AND user_id IN
                <foreach item="item" index="index" collection="userIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test=" null != effectiveDate">
                AND effective_date = #{effectiveDate}
            </if>
            <if test="companyid != null">
                AND `companyid` = #{companyid}
            </if>
            <if test="mediaid != null">
                AND `mediaid` = #{mediaid}
            </if>
            <if test="status != null">
                AND `status` = #{status}
            </if>
        </where>
    </select>

    <select id="findByParamsForUpdate" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/> FROM `user_month_info`
        WHERE
        `user_id` = #{salesmanId}
        AND `effective_date` = #{currentMonth}
        AND `companyid` = #{subCompanyId}
        AND `mediaid` IN (#{mediaid}, #{countMediaid})
        AND `status` = #{status}
        FOR  UPDATE
    </select>

    <select id="getOrderNum" resultType="java.lang.Integer">
        SELECT SUM(`assigned_customer_num`) FROM `user_month_info` WHERE `companyid`=#{companyid} AND `effective_date`=#{effectiveDate} AND `mediaid`=#{mediaId}  AND `status`=#{status}
    </select>

    <update id="update2IncrNumForAssignedCustomerNum">
        UPDATE `user_month_info`
        SET `assigned_customer_num`= `assigned_customer_num`+1
        WHERE
        `id` IN (
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>
        )
        AND `effective_date`=#{currentMonth}
    </update>

    <update id="update2IncrNumForEffectiveCustomerNum">
        UPDATE `user_month_info`
        SET `effective_customer_num`= `effective_customer_num`+1
        WHERE
        `id` IN (
        <foreach collection="ids" item="item" separator=",">
            #{item}
        </foreach>
        )
    </update>

    <select id="selectSum" resultType="java.lang.Integer">
        SELECT SUM(`assigned_customer_num`) FROM `user_month_info`
        WHERE `companyid`=#{companyid}
        <if test="mediaid != null">
            AND `mediaid`=#{mediaid}
        </if>
        AND `effective_date`=#{effectiveDate}
        AND `status`=#{status}
    </select>

    <update id="saveOne" parameterType="com.fjs.cronus.model.UserMonthInfo">
        UPDATE user_month_info
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="baseCustomerNum != null ">
                base_customer_num = #{baseCustomerNum},
            </if>
            <if test="rewardCustomerNum != null ">
                reward_customer_num = #{rewardCustomerNum},
            </if>
            <if test="assignedCustomerNum != null ">
                assigned_customer_num = #{assignedCustomerNum},
            </if>
            <if test="createTime != null ">
                create_time = #{createTime},
            </if>
            <if test="createUserId != null ">
                create_user_id = #{createUserId},
            </if>
            <if test="lastUpdateTime != null ">
                last_update_time = #{lastUpdateTime},
            </if>
            <if test="lastUpdateUser != null ">
                last_update_user = #{lastUpdateUser},
            </if>
            <if test="effectiveDate != null ">
                effective_date = #{effectiveDate},
            </if>
        </set>
        WHERE user_id =#{userId} AND effective_date = #{effectiveDate}
    </update>

    <insert id="insertList2" parameterType="java.util.List" useGeneratedKeys="true">
        INSERT INTO user_month_info
        (user_id,base_customer_num,reward_customer_num,assigned_customer_num,effective_customer_num,
        create_time,create_user_id,last_update_time,effective_date,last_update_user)
        values
        <foreach collection="list" item="userMonthInfo" index="index" separator=",">
            (
            #{userMonthInfo.userId},
            #{userMonthInfo.baseCustomerNum},
            #{userMonthInfo.rewardCustomerNum},
            #{userMonthInfo.assignedCustomerNum},
            #{userMonthInfo.effectiveCustomerNum},
            #{userMonthInfo.createTime},
            #{userMonthInfo.createUserId},
            #{userMonthInfo.lastUpdateTime},
            #{userMonthInfo.effectiveDate},
            #{userMonthInfo.lastUpdateUser}
            )
        </foreach>
    </insert>

</mapper>